/* base colors */
$green: #0c3;
$blue: #06C;
$orange: #f90;
$gray: #999;
$purple: #844d9c;

$faded-blue: #cbe0f5;
$faded-green: #ccf5d5;
$faded-orange: #ffebcc;
$faded-gray: #ebebeb;
$faded-purple: #f4ccff;

$dark-blue: #004c99;
$dark-green: #009926;
$dark-orange: #cc7a00;
$dark-gray: #666666;
$dark-purple: #541b6d;

$link-blue: #06C;

$light-blue: rgba(0, 112, 185, 0.5);
$light-green: rgba(0, 176, 52, 0.5);
$light-orange: rgba(255, 159, 0, 0.5);
$light-gray: rgba(149, 149, 149, 0.5);
$light-purple: rgba(132, 77, 156, 0.5);